[flake8]
exclude =
    alembic,
    models.py,
    schemas.py,
max-line-length = 127
count = True
max-complexity = 10
docstring-convention = google
import-order-style = cryptography
inline-quotes = "

